# macOS specific
.DS_Store
.AppleDouble
.LSOverride

# Node.js specific
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# .env
.env
*.locals

# Logs
logs
*.log
*.log.*

# Optional npm cache directory
.npm


# IDE settings (optional)
.vscode/
.idea/